html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

:root {
    --primary-color: #333333;
    --secondary-color: #333;
    --highlight-color: #999;
}

header {
    background-color: var(--secondary-color);
    color: #fff;
    text-align: center;
    padding: 1rem;
}

nav {
    background-color: var(--primary-color);
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

span {
    font-weight: bolder;
}

strong {
    position: relative;
  
    &::after {
      content: '';
      position: absolute;
      bottom: -0.125rem;
      left: -0.01rem;
      right: -0.01rem;
      height: 0.75rem;
      z-index: -1;
      background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/664131/underline.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
}
  
nav a:hover {
    color: var(--highlight-color); 
    transition: color 0.3s; 
}

.cv, .cv:visited, .cv:hover {
    text-decoration: none;
    color: #fff;
}

.degree, .work, .project {
    margin-bottom: 5rem;
}

.container {
    padding-left: 2rem;
    padding-right: 2rem;
}

.container h2 {
    font-size: 2rem;
}

.about-section {
    background-color: var(--primary-color); 
    color: #333;
    text-align: center;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 6rem;
    padding-right: 6rem;
    margin: 0;
    font-family: 'Poppins', 'Times New Roman';
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    opacity: 0; 
    animation: fadeIn 3s ease-in-out forwards; 
}

.about-description {
    flex: 1;
    margin-right: 10rem;
    color: #fff;
    text-align: justify;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img {
    max-width: 500px;
    max-height: 500px;
    border-radius: 50%; 
}

/* Estilizar o botão circular */
.gmail-button {
    position: absolute;
    margin-left: 26rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    transition: background-color 0.5s;
    min-height: 35px;
}

/* Efeito de hover para o botão circular */
.gmail-button:hover {
    background-color: #000; /* Alterar a cor do botão ao passar o mouse */
}

.gmail-button img {
    max-height: 25px; /* Ajustar o tamanho da imagem dentro do botão */
}

.github-button {
    position: absolute;
    margin-left: 34rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    transition: background-color 0.5s;
}

/* Efeito de hover para o botão circular */
.github-button:hover {
    background-color: #000; /* Alterar a cor do botão ao passar o mouse */
}

.github-button img {
    width: 35px; /* Ajustar o tamanho da imagem dentro do botão */
}

.linkedin-button {
    position: absolute;
    margin-left: 30rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    transition: background-color 0.5s;
}

/* Efeito de hover para o botão circular */
.linkedin-button:hover {
    background-color: #000; /* Alterar a cor do botão ao passar o mouse */
}

.linkedin-button img {
    width: 35px; /* Ajustar o tamanho da imagem dentro do botão */
}

.degrees{
    display: flex;
    flex-flow: row wrap;
}

.degree {
    margin: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 3px solid #333;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

.university_logo {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.research_list {
    list-style-type: none; /* Remove os marcadores de lista padrão */
    padding-left: 20px;
}

.research_list li {
    padding-left: 35px; /* Adiciona um espaçamento à esquerda para acomodar o ícone */
    background-image: url('media/microscope.png');
    background-repeat: no-repeat;
    background-size: 30px 30px; /* Define o tamanho do ícone */
}

.skills{
    display: flex;
    flex-flow: row wrap;
    align-items: start;
}

.skill {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    min-width: 90px;
    margin: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 3px solid #333;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

.projects {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.project {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    border: 4px solid var(--primary-color);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

.project-container {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    min-width: 100%;
}

.project-details {
    display: flex;
    flex-flow: column;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.project-video {
    display: flex;
    align-items: center;
    justify-content: end;
    flex: 1;
}

.github_button {
	box-shadow: -1px 11px 15px 3px #b5b5b5;
	background:linear-gradient(to bottom, #000000 5%, #7d7d7d 100%);
	background-color:#000000;
	border-radius:20px;
	border:2px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:5px 53px;
	text-decoration:none;
}
.github_button:hover {
	background:linear-gradient(to bottom, #7d7d7d 5%, #000000 100%);
	background-color:#7d7d7d;
}
.github_button:active {
	position:relative;
	top:1px;
}

.project-screen {
    border: 2px solid black;
}

.footer {
    display: flex;
    flex-flow: row;
    background-color: var(--primary-color);
    color: #fff;
    align-items: end;
    justify-content: end;
    padding-top: 1rem;
    padding-right: 1rem;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}