html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

:root {
    --primary-color: #333333;
    --secondary-color: #fff;
    --highlight-color: #999;
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
}

nav {
    background-color: var(--primary-color);
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

nav a {
    color: var(--secondary-color);
    text-decoration: none;
    margin: 0 0.5rem;
}

nav a:hover {
    color: var(--highlight-color); 
    transition: color 0.3s; 
}

span {
    font-weight: bolder;
}

.cv, .cv:visited, .cv:hover {
    text-decoration: none;
    color: var(--secondary-color);
}

.degree, .work, .project {
    margin-bottom: 5rem;
}

.container {
    padding-left: 2rem;
    padding-right: 2rem;
}

.container h2 {
    font-size: 2rem;
}

.about-section {
    background-color: var(--primary-color); 
    text-align: center;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Poppins', 'Times New Roman';
    padding-top: 3rem;
    padding-bottom: 7rem;
}

.about-content {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    opacity: 0; 
    animation: fadeIn 3s ease-in-out forwards;
}

.about-description {
    flex: 1;
    color: var(--secondary-color);
    text-align: justify;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img {
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%; 
}

.gmail-button {
    position: absolute;
    margin-left: 15rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    transition: background-color 0.5s;
    min-height: 35px;
}

.gmail-button:hover {
    background-color: #000; 
}

.gmail-button img {
    max-height: 25px; 
}

.github-button {
    position: absolute;
    margin-left: 19rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    transition: background-color 0.5s;
}

.github-button:hover {
    background-color: #000;
}

.github-button img {
    width: 35px; 
}

.linkedin-button {
    position: absolute;
    margin-left: 23rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    transition: background-color 0.5s;
}

.linkedin-button:hover {
    background-color: #000; 
}

.linkedin-button img {
    width: 35px; 
}

.degrees{
    display: flex;
    flex-flow: row wrap;
}

.degree {
    margin: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 3px solid #333;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

.university_logo {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.research_list {
    list-style-type: none;
    padding-left: 20px;
}

.research_list li {
    padding-left: 35px; 
    background-image: url('media/microscope.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

.skills{
    display: flex;
    flex-flow: row wrap;
    align-items: start;
}

.skill {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    min-width: 90px;
    margin: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 3px solid #333;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

.projects {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.project {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    border: 4px solid #333;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

.project-container {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    min-width: 100%;
}

.project-details {
    display: flex;
    flex-flow: column;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.project-video {
    display: flex;
    align-items: center;
    justify-content: end;
    flex: 1;
}

.video-player {
    max-width: 400px;
    max-height: 225px;
}

.project-screen {
    max-width: 400px;
    max-height: 225px;
}

.github_button {
	box-shadow: -1px 11px 15px 3px #b5b5b5;
	background:linear-gradient(to bottom, #000000 5%, #7d7d7d 100%);
	background-color:#000000;
	border-radius:20px;
	border:2px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:5px 53px;
	text-decoration:none;
}
.github_button:hover {
	background:linear-gradient(to bottom, #7d7d7d 5%, #000000 100%);
	background-color:#7d7d7d;
}
.github_button:active {
	position:relative;
	top:1px;
}

.project-screen {
    border: 2px solid black;
}

.footer {
    display: flex;
    flex-flow: row;
    background-color: var(--primary-color);
    color: #fff;
    align-items: end;
    justify-content: end;
    padding-top: 1rem;
    padding-right: 1rem;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* LARGE */
@media screen and (min-width: 992px) {

    .about-image img {
        max-width: 400px;
        max-height: 400px;
        border-radius: 50%; 
    }

    .video-player {
        max-width: 800px;
        max-height: 450px;
    }
    
    .project-screen {
        max-width: 800px;
        max-height: 450px;
    }

}

/* XL */
@media screen and (min-width: 1200px) {
  
    nav a {
        margin: 0 1rem;
    }
       
    strong {
        position: relative;
      
        &::after {
          content: '';
          position: absolute;
          bottom: -0.125rem;
          left: -0.01rem;
          right: -0.01rem;
          height: 0.75rem;
          z-index: -1;
          background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/664131/underline.svg');
          background-repeat: no-repeat;
          background-size: cover;
        }
    }
    
    .about-section {
        padding-left: 6rem;
        padding-right: 6rem;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .about-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .about-description {
        margin-right: 10rem;
    }
    
    .about-image {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .about-image img {
        max-width: 500px;
        max-height: 500px;
    }
    
    .gmail-button {
        margin-left: 26rem;
    }
    
    .github-button {
        margin-left: 34rem;
    }
    
    .linkedin-button {
        margin-left: 30rem;
    }
    
    .project-container {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        min-height: 100%;
        min-width: 100%;
    }
    
    .project-screen {
        border: 2px solid black;
    }

    .video-player {
        max-width: 640px;
        max-height: 480px;
    }
    
    .project-screen {
        max-width: 800px;
        max-height: 450px;
    }
    
}
